<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    {% block header %}
        <header>
            <div class="center-block-main">
                <nav>
                    <ul class="menu">
                        <li><a href="{{ path('app_login') }}">Login</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        <li><a href="{{ path('app_user_register') }}">Registration</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <hr>
    {% endblock header %}
    {% block main_content %}
        <ul>
            {% for article in  pagination %}
                <li>{{ article.title }}</li>
                {{ article.text }}  <br>
                <p><a class="more" href="{{ path('article', { 'id': article.id }) }}">read more...</a></p>
            {% endfor %}
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
