<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/base.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
{% block body %}
    {% block header %}
        {{ include('navbar.html.twig') }}
    {% endblock header %}
        <div class="center-block-main content">
            {% block main_content %}

                {{ include('main_content.html.twig') }}

                {% block aside %}
                    {{ include('sidebar.html.twig') }}
                {% endblock aside %}

                <div class="clr"></div>

                <div class="navigation pager clearfix">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block footer %}
        {{ include('footer.html.twig') }}
    {% endblock footer %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>
