{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.Password.first) }}
    {{ form_row(form.Password.second) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
